.App {
  font-family: "system-ui", sans-serif;
  background-color: #f8f8f8;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  color: #090101;
  transition: color ease-in-out 0.4s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #4D79AE;
  transition: color ease-in-out 0.4s;
}

.Main {
  padding-top: 81px;
}

i {
  color: #1A801A;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.4s;
  color: #4D79AE;
}